# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# Build output
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# ESLint & Prettier
.eslintcache

# Misc
*.tgz
*.swp

# Testing
jest.config.js
coverage/
.vercel
